# Ambientes Virtuais
.venv/
venv/
env/
des/
.pipelines/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de IDEs e editores
.vscode/
.idea/

# Logs e bancos de dados locais
*.log
*.db
*.sqlite3
build/
dist/
*.egg-info/
log_cat_all_tree-*.txt # Sua linha adicionada e mantida
